/* Links */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--PRIMARY-FONT);
}

/* CSS Variables */
:root {
    /* Font family */
    --PRIMARY-FONT: 'Epilogue', sans-serif;

    /* Font weight */
    --WEIGHT-1: 500;
    --WEIGHT-2: 700;

}

/* Utils */
.active {
    color: black;
}

/* General styles */
html,
body {
    scroll-behavior: smooth;
    overflow: hidden;
}

/* Styling main section */
#main {
    width: 100%;
}

/* Styling header section */
#menu {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(5px);
}

#menu li a {
    position: relative;
}

#menu li a::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -35px;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#menu li a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.background-wrapper>img {
    width: 100%;
    height: 100%;
}

.nav-line {
    background: gray;
    border-radius: 100px;
    height: 2px;
    width: 420px;
    position: relative;
    left: 60px;
    z-index: 60;
}

/* Styling home section */

.explore-section>p {
    background: white;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .25s ease;
}

.explore-section>p:hover {
    box-shadow: 0 0 1px 4rem rgba(128, 128, 128, 0.366);
}